variables:
  Dart.SDK.Version: 1.19.1
  Dart17.SDK.Version: 1.17.1
  Release.CounterBase: 1
  Build.Counter: $[counter(variables['Release.CounterBase'], 1)]

name: $(Build.Counter)

#trigger:
#- master

pool:
  vmImage: ubuntu-latest

resources:
  repositories:
  - repository: DGLuxRepo
    type: git
    name: DGIoTPlatform/dglux
    ref: develop/develop

steps:
# $(Pipeline.Workspace)/s/dglux5-localization
- checkout: self
  persistCredentials: true
  displayName: 'Checkout dglux5-localization'
# $(Pipeline.Workspace)/s/dglux
- checkout: DGLuxRepo
  persistCredentials: true
  submodules: true
  displayName: 'Checkout DGLux source code'
- bash: |
    wget https://storage.googleapis.com/dart-archive/channels/stable/release/$(Dart.SDK.Version)/sdk/dartsdk-linux-x64-release.zip -O sdk.zip
    unzip -o sdk.zip
    chmod +x dart-sdk/bin/dart dart-sdk/bin/pub
    dart-sdk/bin/dart --version
  displayName: 'Download Dart SDK'
- bash: |
    wget https://storage.googleapis.com/dart-archive/channels/stable/release/$(Dart17.SDK.Version)/sdk/dartsdk-linux-x64-release.zip -O sdk.zip
    unzip -o sdk.zip -d dart17
    chmod +x dart17/dart-sdk/bin/dart2js
    cp $(Pipeline.Workspace)/s/dglux/dgluxjs/tool/dart2dart.platform dart17/dart-sdk/lib/dart2dart.platform
  displayName: 'Download Dart17 SDK'
- bash: |
    git checkout -B master remotes/origin/master --
  displayName: 'Switch dglux5-localization to master'
  workingDirectory: $(Pipeline.Workspace)/s/dglux5-localization
- bash: |
    export DART_SDK="$(System.DefaultWorkingDirectory)/dart-sdk"
    export PATH="${DART_SDK}/bin:${PATH}"
    dart --version
    pub get
    cd tool/lang
    pub get
    $(System.DefaultWorkingDirectory)/dart17/dart-sdk/bin/dart2js -m --output-type=dart -o ./bin/lang_compiled.dart ./bin/lang.dart
    cd ../../
    git checkout -B master remotes/origin/master --
    git submodule update
    dart ./tool/lang/bin/lang_compiled.dart -g -t ALL -o $(Pipeline.Workspace)/s/dglux5-localization/locales/
    git checkout .
  displayName: 'Update localization files'
  workingDirectory: $(Pipeline.Workspace)/s/dglux/dgluxjs
- bash: |
    cp locales/en.json template.json
    git add .
    git config --global user.email "ilya.tsarev@acuitybrands.com"
    git config --global user.name "Azure Pipelines"    
    git commit -m "Update Locales" | true
    git push
  displayName: 'Commit localization changes'
  workingDirectory: $(Pipeline.Workspace)/s/dglux5-localization
- bash: |
    git submodule foreach git pull origin master
    git add web/lang
    git commit -a -m "Updated Localization Submodule" | true
    git push
  displayName: 'Switch dglux localization submodule'
  workingDirectory: $(Pipeline.Workspace)/s/dglux/dgluxjs
